// MAIN
$main-bg-color: #E5ECF0;
$main-border-color: #E5ECF0;
$note-background-color: white;

// BUTTONS
$button-primary-bg-color: #aae610;
$button-primary-hover-bg-color: #b1f10d;
$button-primary-shadow-color: #b4f60e;
$button-cancel-bg-color: #fa5878;
$button-cancel-border-color: #ec0b37;
$button-cancel-hover-bg-color: #f63f63;

// MODAL
$modal-vrapper-bg-color: #04040491;